/* Styling */
body {
  font-family:arial;
  background-color:#EFFFED;
  text-align:justify;
}

/* URL style */
a:link    {color:#1A0DAB; background-color:transparent; text-decoration:none}
a:visited {color:#660099; background-color:transparent; text-decoration:none}
a:hover   {background-color:transparent; text-decoration:underline}
a:active  {color:#1A0DAB; background-color:transparent; text-decoration:underline}